<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
	<select id="selectList" resultType="board">
		SELECT * FROM BOARD B JOIN MEMBER M ON(B.USERNO=M.USERNO) WHERE DELETED = 'N' ORDER BY BOARDDATE DESC
	</select>
	
	<select id="selectBoardCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE DELETED = 'N'
	</select>
	
	<insert id="insertBoard" parameterType="board">
		INSERT INTO BOARD VALUES(SEQ_BOARDNO.NEXTVAL,#{userNo},#{boardTitle},#{boardContent},DEFAULT,#{boardType},DEFAULT)
	</insert>
	
	<select id="selectBoardView" resultType="board" parameterType="_int">
		SELECT * FROM BOARD B JOIN MEMBER M ON(B.USERNO=M.USERNO) WHERE BOARDNO = #{boardNo}
	</select>
	
	<update id="deleteBoard" parameterType="_int">
		UPDATE BOARD SET DELETED = 'Y' WHERE BOARDNO = #{boardNo}
	</update>
	
	<update id="updateBoard" parameterType="board">
		UPDATE BOARD SET BOARDTITLE = #{boardTitle}, BOARDCONTENT = #{boardContent} WHERE BOARDNO = #{boardNo}
	</update>
	
	<insert id="insertBoardComm" parameterType="boardComment">
		INSERT INTO BOARDCOMMENT VALUES(SEQ_BOARD_COMMNO.NEXTVAL,#{boardRef},#{userNo},DEFAULT,#{commContent},0,DEFAULT)
	</insert>
	
	<select id="selectBoardComm" resultType="boardComment" parameterType="_int">
		SELECT * FROM BOARDCOMMENT JOIN MEMBER USING(USERNO) WHERE BOARDCOMMENT.BOARDREF = #{boardNo}
	</select>
	
	<select id="selectboardCommCount" resultType="_int" parameterType="_int">
		SELECT COUNT(*) FROM BOARDCOMMENT WHERE BOARDREF = #{boardNo}
	</select>
	
	<delete id="deleteBoardComm" parameterType="_int">
		DELETE FROM BOARDCOMMENT WHERE BOARDCOMMNO = #{boardCommNo}
	</delete>
</mapper>
