<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.fortyeight.spring.common.StringArrayType" alias="strArr"/>
		<typeAlias type="com.fortyeight.spring.user.model.vo.User" alias="user"/>
		<typeAlias type="com.fortyeight.spring.market.model.vo.Market" alias="market"/>
		<typeAlias type="com.fortyeight.spring.market.model.vo.MkImg" alias="mkImg"/>
		<typeAlias type="com.fortyeight.spring.market.model.vo.MkComment" alias="mkcomment"></typeAlias>
		<typeAlias type="com.fortyeight.spring.market.model.vo.Dips" alias="dips"></typeAlias>
		<typeAlias type="com.fortyeight.spring.board.model.vo.Board" alias="board"></typeAlias>
		<typeAlias type="com.fortyeight.spring.board.model.vo.BoardComment" alias="boardComment"></typeAlias>
		<typeAlias type="com.fortyeight.spring.market.model.vo.MkCommCount" alias="commCount"></typeAlias>
		<typeAlias type="com.fortyeight.spring.market.model.vo.MarketViewImg" alias="mkViewImg"></typeAlias>	
		<typeAlias type="com.fortyeight.spring.user.model.vo.UserDipsList" alias="dipsList"/>	
		<typeAlias type="com.fortyeight.spring.user.model.vo.UserDealHistory" alias="dealHistory"/>
		<typeAlias type="com.fortyeight.spring.chatting.model.vo.Chatting" alias="chatting"/>
		<typeAlias type="com.fortyeight.spring.report.model.vo.Report" alias="report"/>
	</typeAliases>
</configuration>
