<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="user">
	<!-- 특이사항 : USER TABLE 이름 변경 => MEMBER -->
	<!-- 로그인 -->
	<select id="selectLogin" resultType="user" parameterType="string">
		SELECT * FROM MEMBER WHERE USERID = #{userId}
	</select>
	
	<!-- [회원가입]-닉네임찾기 -->
	<select id="selectNick" resultType="user" parameterType="string">
		SELECT * FROM MEMBER WHERE NICKNAME = #{nickName}
	</select>
	
	<!-- [회원가입]-전화번호찾기 -->
	<select id="selectPhone" resultType="user" parameterType="string">
		SELECT * FROM MEMBER WHERE PHONE = #{phone}
	</select>
	
	<!-- [회원가입] 이메일찾기 -->
	<select id="selectEmail" resultType="user" parameterType="string">
		SELECT * FROM MEMBER WHERE EMAIL = #{email}
	</select>
	
	<!-- 회원가입 -->
	<insert id="insertUser" parameterType="user">
		INSERT INTO MEMBER VALUES(
			SEQ_USERNO.NEXTVAL, #{userId}, #{password}, #{nickName}, #{email}, #{phone}, #{dealAddr},
			DEFAULT, DEFAULT, DEFAULT, #{oriProfile}, #{renameProfile}
		)
	</insert>
	
	<!-- 비밀번호찾기 아이디,이메일 확인 -->
	<select id="selectPwCk" resultType="user" parameterType="map">
		SELECT * FROM MEMBER WHERE USERID = #{userId} AND EMAIL = #{email}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="updatePassword" parameterType="map">
		UPDATE MEMBER SET PASSWORD = #{password} WHERE USERID = #{userId}
	</update>
	
	<!-- 마이페이지 -->
	
	<!-- 사용자 거래내역 -->
	<select id="buySu" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM MARKET WHERE USERNO=#{userNo} AND MKTYPE='삽니다' AND DEALSTATUS='판매완료'
	</select>
	
	<!-- 사용자 판매내역 -->
	<select id="sellSu" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM MARKET WHERE USERNO=#{userNo} AND MKTYPE='팝니다' AND DEALSTATUS='판매완료'
	</select>
	
	<!-- 사용자 찜목록 수 -->
	<select id="dipsSu" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM DIPS WHERE USERNO=#{userNo}
	</select>
	
	<!-- 마이페이지 - 회원정보수정 -->
	<update id="updateUser" parameterType="user">
		UPDATE MEMBER SET 
			PASSWORD=#{password}, NICKNAME=#{nickName}, EMAIL=#{email}, PHONE=#{phone}, DEALADDR=#{dealAddr}
			<if test=' (oriProfile eq "" and oriProfile eq null) || (renameProfile eq "" and renameProfile eq null) '>
			</if>
			<if test=' (oriProfile neq "" and oriProfile neq null) || (renameProfile neq "" and renameProfile neq null) '>
				, ORIPROFILE=#{oriProfile}, RENAMEPROFILE=#{renameProfile}
			</if>
		WHERE USERNO=#{userNo}
	</update>
	
	<!-- 마이페이지 - 회원탈퇴 -->
	<update id="deleteUser" parameterType="_int">
		UPDATE MEMBER SET STATUS='Y' WHERE USERNO=#{userNo}
	</update>
	
	<!-- 마이페이지 - 찜목록(select Ajax 포함) -->
	<select id="selectDipsList" parameterType="map" resultType="dipsList">
		SELECT 
			MK.MKNO, MK.MKTYPE, MK.MKTITLE, MEM.NICKNAME, MK.MKDATE
		FROM MARKET MK FULL JOIN DIPS D ON(MK.MKNO=D.MKNO) FULL JOIN MEMBER MEM ON(MEM.USERNO=MK.USERNO) WHERE D.USERNO=#{userNo}
		<choose>
			<when test='mkType eq "전체"'>
				AND 1=1
			</when>
			<when test='mkType eq "삽니다"'>
				AND MKTYPE='삽니다'
			</when>
			<when test='mkType eq "팝니다"'>
				AND MKTYPE='팝니다'
			</when>
		</choose>
	</select>
	
	<!-- 마이페이지-찜목록 페이징처리 -->
	<select id="selectDipsListCount" resultType="_int" parameterType="map">
		SELECT 
			COUNT(*)
		FROM MARKET MK FULL JOIN DIPS D ON(MK.MKNO=D.MKNO) FULL JOIN MEMBER MEM ON(MEM.USERNO=MK.USERNO) WHERE D.USERNO=#{userNo}
		<choose>
			<when test='mkType eq "전체"'>
				AND 1=1
			</when>
			<when test='mkType eq "삽니다"'>
				AND MKTYPE='삽니다'
			</when>
			<when test='mkType eq "팝니다"'>
				AND MKTYPE='팝니다'
			</when>
		</choose>
	</select>
	
	<!-- 마이페이지-거래내역 리스트 -->
	<select id="selectDealHistory" parameterType="map" resultType="dealHistory">
		SELECT MKNO, MKTYPE, DEALSTATUS, MKTITLE, CATEGORY, MKPRICE, DEALTYPE FROM MARKET WHERE USERNO=#{userNo}
		<choose>
			<when test='myType eq "전체" and dealStatus eq "전체"'>
				AND 1=1			
			</when>
			<when test='mkType eq "삽니다" and dealStatus eq "판매중"'>
				AND MKTYPE='삽니다' AND DEALSTATUS='판매중'
			</when>
			<when test='mkType eq "삽니다" and dealStatus eq "예약중"'>
				AND MKTYPE='삽니다' AND DEALSTATUS='예약중'
			</when>
			<when test='mkType eq "삽니다" and dealStatus eq "판매완료"'>
				AND MKTYPE='삽니다' AND DEALSTATUS='판매완료'
			</when>
			<when test='mkType eq "팝니다" and dealStatus eq "판매중"'>
				AND MKTYPE='팝니다' AND DEALSTATUS='판매중'
			</when>
			<when test='mkType eq "팝니다" and dealStatus eq "예약중"'>
				AND MKTYPE='팝니다' AND DEALSTATUS='예약중'
			</when>
			<when test='mkType eq "팝니다" and dealStatus eq "판매완료"'>
				AND MKTYPE='팝니다' AND DEALSTATUS='판매완료'
			</when>
		</choose>
	</select>
	
	<!-- 마이페이지-거래내역 페이징 -->
	<select id="selectDealHistoryCount" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM MARKET WHERE USERNO=#{userNo}
		<choose>
			<when test='myType eq "전체" and dealStatus eq "전체"'>
				AND 1=1			
			</when>
			<when test='mkType eq "삽니다" and dealStatus eq "판매중"'>
				AND MKTYPE='삽니다' AND DEALSTATUS='판매중'
			</when>
			<when test='mkType eq "삽니다" and dealStatus eq "예약중"'>
				AND MKTYPE='삽니다' AND DEALSTATUS='예약중'
			</when>
			<when test='mkType eq "삽니다" and dealStatus eq "판매완료"'>
				AND MKTYPE='삽니다' AND DEALSTATUS='판매완료'
			</when>
			<when test='mkType eq "팝니다" and dealStatus eq "판매중"'>
				AND MKTYPE='팝니다' AND DEALSTATUS='판매중'
			</when>
			<when test='mkType eq "팝니다" and dealStatus eq "예약중"'>
				AND MKTYPE='팝니다' AND DEALSTATUS='예약중'
			</when>
			<when test='mkType eq "팝니다" and dealStatus eq "판매완료"'>
				AND MKTYPE='팝니다' AND DEALSTATUS='판매완료'
			</when>
		</choose>
	</select>
</mapper>
