<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="market">
	
	<!-- 마켓 글 등록 1. market insert -->
	<insert id="insertMarket" parameterType="market">
		INSERT INTO MARKET VALUES (
			SEQ_MKNO.NEXTVAL, #{userNo}, #{mkTitle}, #{dealAddr}, #{category}, #{mkPrice}, #{mkType},
			#{dealType}, DEFAULT, #{mkContent}, DEFAULT, '판매중'
		)
		
		<selectKey order="AFTER" keyProperty="mkNo" resultType="_int">
			SELECT SEQ_MKNO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<!-- 마켓 글 등록 2. market image insert -->
	<insert id="insertMkImg" parameterType="mkImg">
		INSERT INTO MKIMG VALUES (
			SEQ_MKIMGNO.NEXTVAL, #{mkNo}, #{oriMkImg}, #{renameMkImg}
		)
	</insert>
	
	<!-- Print market List : 상관성 쿼리 이용 -->
	<select id="marketList" resultType="market" parameterType="map">
		SELECT * FROM MARKET FULL JOIN MKIMG ON (MARKET.MKNO=MKIMG.MKNO) WHERE MKTYPE='팝니다' AND DELETED='N'
			<choose>
				<when test=' category eq "all" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "digital" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "interior" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "child" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "life" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "woman" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "beauty" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "man" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "sport" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "etc" '>
					AND CATEGORY = #{category}
				</when>
			</choose>
			<!-- 제목이 있다면? -->
			<if test=' title!=null and title!="" '> 
				AND MKTITLE = ${title}
			</if>
			<!-- 정렬 순서에 대해서 -->
			<!-- <if test='  '>
			</if> -->
		<!-- ORDER BY MKDATE DESC -->
	</select>
	
	<!-- [팝니다] paging -->
	<select id="selectMarketCount" resultType="_int">
		SELECT COUNT(*) FROM MARKET
	</select>
	
	<!-- 제목검색 -->
	<select id="searchMarket" parameterType="map" resultType="market">
		SELECT * FROM MARKET WHERE MKTYPE='팝니다'
				<choose>
					<when test=' category eq ${category} '>
						AND CATEGORY = #{category}
					</when>
				</choose>
				<if test=' title!=null and title!="" '>
					AND MKTITLE = #{title}
				</if>
			<!-- AND MKTITLE LIKE '%'||#{title}||'%' -->
		
	</select>
</mapper>
