<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="market">
	
	<!-- 마켓 글 등록 1. market insert -->
	<insert id="insertMarket" parameterType="market">
		INSERT INTO MARKET VALUES (
			SEQ_MKNO.NEXTVAL, #{userNo}, #{mkTitle}, #{dealAddr}, #{category}, #{mkPrice}, #{mkType},
			#{dealType}, DEFAULT, #{mkContent}, DEFAULT, '판매중'
		)
		
		<selectKey order="AFTER" keyProperty="mkNo" resultType="_int">
			SELECT SEQ_MKNO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<!-- 마켓 글 등록 2. market image insert -->
	<insert id="insertMkImg" parameterType="mkImg">
		INSERT INTO MKIMG VALUES (
			SEQ_MKIMGNO.NEXTVAL, #{mkNo}, #{oriMkImg}, #{renameMkImg}
		)
	</insert>
	
	<!-- [팝니다] 리리스트 불러오기(마켓, 마켓이미지) : 상관성 쿼리 이용 -->
	<select id="marketList" resultType="market" parameterType="map">
		SELECT * FROM MARKET A FULL JOIN MKIMG IMG ON(A.MKNO = IMG.MKNO) WHERE MKTYPE='팝니다' AND DELETED='N'
			<choose>
				<when test=' category eq "all" '>
					AND 1=1
				</when>
				<when test=' category eq "digital" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "interior" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "child" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "life" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "woman" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "beauty" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "man" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "sport" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "etc" '>
					AND CATEGORY = #{category}
				</when>
			</choose>
			<!-- 제목이 있다면? -->
			<if test=' title!=null and title!="" '> 
				AND MKTITLE LIKE '%'||#{title}||'%'
			</if>
			ORDER BY MKDATE DESC
	</select>
	
	<!-- [팝니다] paging -->
	<select id="selectMarketCount" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM MARKET FULL JOIN MKIMG ON (MARKET.MKNO=MKIMG.MKNO) WHERE MKTYPE='팝니다' AND DELETED='N'
			<choose>
				<when test=' category eq "all" '>
					AND 1=1
				</when>
				<when test=' category eq "digital" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "interior" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "child" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "life" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "woman" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "beauty" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "man" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "sport" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "etc" '>
					AND CATEGORY = #{category}
				</when>
			</choose>
			<!-- 제목이 있다면? -->
			<if test=' title!=null and title!="" '> 
				AND MKTITLE LIKE '%'||#{title}||'%'
			</if> 
			ORDER BY MKDATE DESC
	</select>
	
	<!-- 마켓 상세 -->
	<select id="selectView" resultType="market" parameterType="_int">
		SELECT * FROM MARKET WHERE MKNO = #{mkNo}
	</select>
	
	<!-- 마켓 상세 댓글 리스트 -->
	<select id="selectMkComment" resultType="mkcomment" parameterType="_int">
		SELECT 
			MKCOMMNO, MKCOMMENT.USERNO, MEMBER.USERID, MEMBER.NICKNAME, MKREF, COMMLEVEL, COMMCONTENT, MKCOMMREF, COMMDATE 
		FROM MKCOMMENT FULL JOIN MEMBER ON (MKCOMMENT.USERNO = MEMBER.USERNO) 
		WHERE MKREF = #{mkNo}
	</select>
	
	<!-- 마켓 상세 댓글 페이징 -->
	<select id="selectMkCommentCount" resultType="_int" parameterType="_int">
		SELECT COUNT(*) FROM MKCOMMENT WHERE MKREF= #{mkNo} ORDER BY COMMDATE DESC
	</select>
	
	
	<!-- [삽니다] 리스트 출력(마켓,마켓이미지) -->
	<select id="marketBuyList" resultType="market" parameterType="map">
		SELECT * FROM MARKET A FULL JOIN MKIMG IMG ON(A.MKNO = IMG.MKNO) WHERE MKTYPE='삽니다' AND DELETED='N'
			<choose>
				<when test=' category eq "all" '>
					AND 1=1
				</when>
				<when test=' category eq "digital" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "interior" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "child" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "life" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "woman" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "beauty" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "man" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "sport" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "etc" '>
					AND CATEGORY = #{category}
				</when>
			</choose>
			<!-- 제목이 있다면? -->
			<if test=' title!=null and title!="" '> 
				AND MKTITLE LIKE '%'||#{title}||'%'
			</if>
			ORDER BY MKDATE DESC
	</select>
	
	<!-- [삽니다] 페이징처리 -->
	<select id="selectMarketBuyCount" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM MARKET FULL JOIN MKIMG ON (MARKET.MKNO=MKIMG.MKNO) WHERE MKTYPE='삽니다' AND DELETED='N'
		<choose>
				<when test=' category eq "all" '>
					AND 1=1
				</when>
				<when test=' category eq "digital" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "interior" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "child" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "life" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "woman" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "beauty" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "man" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "sport" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "etc" '>
					AND CATEGORY = #{category}
				</when>
			</choose>
			<!-- 제목이 있다면? -->
			<if test=' title!=null and title!="" '> 
				AND MKTITLE LIKE '%'||#{title}||'%'
			</if> 
			ORDER BY MKDATE DESC
	</select>
	
	
	<!-- 마켓 댓글 삭제 -->
	<delete id="marketCommentDelete" parameterType="map">
		DELETE FROM MKCOMMENT WHERE MKREF=${mkNo} AND MKCOMMNO=${mkCommNo}
	</delete>
	
	<!-- 마켓 댓글 등록 -->
	<insert id="marketCommentInsert" parameterType="map">
		INSERT INTO MKCOMMENT VALUES (SEQ_MK_COMMNO.NEXTVAL, ${userNo}, ${mkNo}, DEFAULT, #{comment}, 0, DEFAULT)
	</insert>
	
	<!-- 마켓 찜 리스트 -->
	<select id="selectDips" resultType="dips" parameterType="map">
		SELECT * FROM DIPS WHERE MKNO = #{mkNo}
	</select>
	
	<!-- 마켓 댓글 수(삽니다) 조회 -->
	<select id="marketBuyCommentCount" resultType="commCount">
	SELECT A.MKNO, A.CATEGORY, (SELECT COUNT(*) FROM MKCOMMENT MK WHERE MK.MKREF=A.MKNO ) AS COMMCOUNT
	FROM MARKET A FULL JOIN MKIMG IMG ON(A.MKNO = IMG.MKNO) WHERE MKTYPE='삽니다' AND DELETED='N'
			<choose>
				<when test=' category eq "all" '>
					AND 1=1
				</when>
				<when test=' category eq "digital" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "interior" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "child" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "life" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "woman" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "beauty" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "man" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "sport" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "etc" '>
					AND CATEGORY = #{category}
				</when>
			</choose>
			<!-- 제목이 있다면? -->
			<if test=' title!=null and title!="" '> 
				AND MKTITLE LIKE '%'||#{title}||'%'
			</if> 
			ORDER BY MKDATE DESC
	</select>
	
	<!-- 마켓 댓글 수(팝니다) 조회 -->
	<select id="marketSellCommentCount" resultType="commCount">
	SELECT A.MKNO, A.CATEGORY, (SELECT COUNT(*) FROM MKCOMMENT MK WHERE MK.MKREF=A.MKNO ) AS COMMCOUNT
	FROM MARKET A FULL JOIN MKIMG IMG ON(A.MKNO = IMG.MKNO) WHERE MKTYPE='팝니다' AND DELETED='N'
			<choose>
				<when test=' category eq "all" '>
					AND 1=1
				</when>
				<when test=' category eq "digital" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "interior" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "child" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "life" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "woman" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "beauty" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "man" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "sport" '>
					AND CATEGORY = #{category}
				</when>
				<when test=' category eq "etc" '>
					AND CATEGORY = #{category}
				</when>
			</choose>
			<!-- 제목이 있다면? -->
			<if test=' title!=null and title!="" '> 
				AND MKTITLE LIKE '%'||#{title}||'%'
			</if> 
			ORDER BY MKDATE DESC
	</select>
	
	<!-- 마켓 상세뷰 '닉네임'만 출력 -->
	<select id="selectMkViewNick" resultType="string" parameterType="_int">
		SELECT NICKNAME FROM MARKET MK FULL JOIN MEMBER M ON(MK.USERNO = M.USERNO) WHERE MKNO=#{mkNo}
	</select>
	
	<!-- 마켓 상세뷰 '이미지' 출력 삽니다 -->
	<select id="selectMkViewImg" resultType="mkViewImg" parameterType="_int">
		SELECT MARKET.MKNO, MKIMG.ORIMKIMG, MKIMG.RENAMEMKIMG FROM MARKET FULL JOIN MKIMG ON(MARKET.MKNO=MKIMG.MKNO) 
		WHERE MARKET.MKTYPE='삽니다' AND MARKET.DELETED='N'AND MARKET.MKNO=#{mkNo}
	</select>
	
	<!-- 마켓 상세뷰 '이미지' 출력 팝니다 -->
	<select id="selectMkViewImgSell" resultType="mkViewImg" parameterType="_int">
		SELECT MARKET.MKNO, MKIMG.ORIMKIMG, MKIMG.RENAMEMKIMG FROM MARKET FULL JOIN MKIMG ON(MARKET.MKNO=MKIMG.MKNO) 
		WHERE MARKET.MKTYPE='팝니다' AND MARKET.DELETED='N'AND MARKET.MKNO=#{mkNo}
	</select>
	
	<!-- 마켓 상세뷰 찜 추가 -->
	<insert id="insertDips" parameterType="map">
		INSERT INTO DIPS VALUES(#{userNo}, #{mkNo})
	</insert>
	
	<!-- 마켓 상세뷰 찜 리스트 출력 -->
	<select id="selectDipsYSK" parameterType="map" resultType="dips">
		SELECT * FROM DIPS WHERE MKNO = #{mkNo}
	</select>
	
	<!-- 마켓 상세뷰 찜 삭제 -->
	<delete id="deleteDips" parameterType="map">
		DELETE FROM DIPS WHERE USERNO=#{userNo} AND MKNO=#{mkNo}
	</delete>
	
	<!-- 마켓 상세뷰 거래상태(예약중) 변경 -->
	<update id="updateReservation" parameterType="map">
		UPDATE MARKET SET DEALSTATUS='예약중' WHERE MKNO=#{mkNo}
	</update>
	
	<!-- 마켓 상세뷰 거래상태(구매중-실제값은 판매중!) 변경 -->
	<update id="updateBuying" parameterType="map">
		UPDATE MARKET SET DEALSTATUS='판매중' WHERE MKNO=#{mkNo}
	</update>
	
	<!-- 마켓 상세뷰 거래상태(구매완료-실제값은 판매완료!) 변경 -->
	<update id="updateComplete" parameterType="map">
		UPDATE MARKET SET DEALSTATUS='판매완료' WHERE MKNO=#{mkNo}
	</update>
	
	<!-- 마켓 수정하기 위한 데이터 출력(마켓) -->
	<select id="updateMarket" parameterType="map" resultType="market">
		SELECT * FROM MARKET WHERE MKNO=#{mkNo} AND USERNO=#{userNo}
	</select>
	
	<!-- 마켓 삭제 -->
	<update id="deleteMarket" parameterType="_int">
		UPDATE MARKET SET DELETED = 'Y' WHERE MKNO = #{mkNo}
	</update>
	
	<!-- 마켓 수정하기 위한 데이터 출력(마켓이미지) -->
	<select id="selectMkImg" parameterType="_int" resultType="MkImg">
		<!-- SELECT * FROM MKIMG FULL JOIN MARKET ON(MKIMG.MKNO = MARKET.MKNO) WHERE MARKET.MKNO=#{mkNo} -->
		SELECT * FROM MKIMG WHERE MKNO=#{mkNo}
	</select>
	
	
	<!-- 마켓 글 수정 1 -->
	<update id="updateMarketEnd" parameterType="market">
		UPDATE MARKET SET 
			MKTYPE=#{mkType}, CATEGORY=#{category}, MKTITLE=#{mkTitle}, DEALADDR=#{dealAddr},
			DEALTYPE=#{dealType}, MKPRICE=#{mkPrice}, MKCONTENT=#{mkContent}
		WHERE USERNO=#{userNo} AND MKNO=#{mkNo}
	</update>
	
	<!-- 마켓 글 수정 2 이미지 -->
	<update id="updateMkImg" parameterType="mkImg">
		UPDATE MKIMG SET ORIMKIMG=#{oriMkImg}, RENAMEMKIMG=#{renameMkImg} WHERE MKNO=#{mkNo}
	</update>
	
	<!-- 마켓 글 수정 3 이미지 삭제 -->
	<update id="deleteMkImg" parameterType="_int">
		UPDATE MKIMG SET ORIMKIMG='NULL' WHERE MKNO=#{mkNo}
	</update>
</mapper>
