<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="report">
	<insert id="insertReport" parameterType="report">
		INSERT INTO REPORT VALUES(SEQ_REPORTNO.NEXTVAL,#{userNo},${mkNo},#{reportText},#{reportContent},DEFAULT)
	</insert>
	
	<select id="selectReport" resultType="report">
		SELECT * FROM REPORT JOIN MEMBER USING(USERNO) WHERE REPORT.STATUS = 'N' ORDER BY REPORTNO DESC
	</select>
	
	<select id="selectReportCount" resultType="_int">
		SELECT COUNT(*) FROM REPORT WHERE STATUS = 'N'
	</select>
	
	<update id="updateReportProcess" parameterType="_int">
		UPDATE REPORT SET STATUS = 'Y' WHERE REPORTNO = #{reportNo}
	</update>
</mapper>
